@(webJarAssets: WebJarAssets)
@common.layout(webJarAssets: WebJarAssets) {

    <div id="myLogoContainer" class="section-box">
        <div class="container section">

        <div class="row">
            <div class="logo">
                <img class="" src="@routes.Assets.versioned("images/play_framework_logo.png")" alt="Generic placeholder image"  width="150" height="90">
            </div>
            <div class="logo">
                <img class="" src="@routes.Assets.versioned("images/apache_spark_logo.png")" alt="Generic placeholder image"  width="150" height="90">
            </div>
            <div class="logo">
                <img class="" src="@routes.Assets.versioned("images/python_logo.svg")" alt="Generic placeholder image"  width="150" height="90" >
            </div>
            <div class="logo">
                <img class="" src="@routes.Assets.versioned("images/aws_logo.png")" alt="Generic placeholder image"  width="150" height="90" >
            </div>
        </div>
            <div class="row">
                <div class="logo">
                    <img class="" src="@routes.Assets.versioned("images/elastic_logo.png")" alt="Generic placeholder image"  width="150" height="90">
                </div>
                <div class="logo">
                    <img class="" src="@routes.Assets.versioned("images/magnolia_logo.png")" alt="Generic placeholder image"  width="150" height="90">
                </div>
                <div class="logo">
                    <img class="" src="@routes.Assets.versioned("images/spring_logo.png")" alt="Generic placeholder image"  width="150" height="90" >
                </div>
                <div class="logo">
                    <img class="" src="@routes.Assets.versioned("images/mongodb_logo.svg")" alt="Generic placeholder image"  width="150" height="90" >
                </div>
        </div>

        </div>
    </div>

    <div class="container">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

    </div>


}
